Repository whitphx/tlanislide: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx,vue}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.md": [
    "prettier --write"
  ],
  ".husky/pre-commit": [],
  "packages/slidev-addon-tlanislide/*.md": []
}

Add packages/slidev-addon-tlanislide/README.md
  packages/slidev-addon-tlanislide/README.md
Due: prettier --write

Set up ESLint in slidev-addon-tlanislide
  packages/slidev-addon-tlanislide/eslint.config.js
  packages/slidev-addon-tlanislide/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Fix .lintstagedrc.json
  .lintstagedrc.json
  packages/slidev-addon-tlanislide/.lintstagedrc.json
  packages/tlanislide/.lintstagedrc.json
Due: none

Rename Tlanislide to SlidevTlanislide to satisfy the vue/multi-word-component-names rule
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/slidev-addon-tlanislide/slides.md
Due: prettier --write, eslint --fix

Fix vite.config.ts to satisfy the @typescript-eslint/no-unused-vars rule
  packages/slidev-addon-tlanislide/vite.config.ts
Due: prettier --write, eslint --fix

Pass snapshot instead of store to the Tlanislide component
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/SlideShapeUtil.tsx
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/index.ts
  packages/tlanislide/src/shapes/index.ts
Due: prettier --write, eslint --fix

Set tldraw color theme as same as Slidev
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
Due: prettier --write, eslint --fix

Set styles of transparent background and outline
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/slidev-addon-tlanislide/components/tlanislide.css
Due: prettier --write, eslint --fix

Move css code into the SFC
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/slidev-addon-tlanislide/components/tlanislide.css
Due: prettier --write, eslint --fix

Fix
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
Due: prettier --write, eslint --fix

Fix dev mock initializer
  packages/tlanislide/src/App.tsx
  packages/tlanislide/src/debug.ts
Due: prettier --write, eslint --fix

ci: Add GitHub Actions workflow for build, test, and lint
  .github/workflows/ci.yml
Due: none

ci: Split jobs by package and skip failing test
  .github/workflows/ci.yml
  packages/tlanislide/src/keyframe.test.ts
Due: prettier --write, eslint --fix

ci: Remove build step from slidev-addon-tlanislide
  .github/workflows/ci.yml
Due: none

feat: Add conflict detection for same trackId and globalIndex in getGlobalOrder
  packages/tlanislide/.lintstagedrc.json
  packages/tlanislide/src/keyframe.test.ts
  packages/tlanislide/src/keyframe.ts
Due: prettier --write, eslint --fix

chore: restore original formatting in .lintstagedrc.json
  packages/tlanislide/.lintstagedrc.json
Due: none

refactor: integrate conflict detection into DAG construction
  packages/tlanislide/src/keyframe.test.ts
  packages/tlanislide/src/keyframe.ts
Due: prettier --write, eslint --fix

refactor: simplify conflict detection with double nested loop
  packages/tlanislide/src/keyframe.test.ts
  packages/tlanislide/src/keyframe.ts
Due: prettier --write, eslint --fix

refactor: restore topological sort while keeping early conflict detection
  packages/tlanislide/src/keyframe.ts
Due: prettier --write, eslint --fix

refactor: simplify grouping logic in getGlobalOrder
  packages/tlanislide/src/keyframe.ts
Due: prettier --write, eslint --fix

Update packages
  packages/slidev-addon-tlanislide/package.json
  pnpm-lock.yaml
Due: none

Add a self-intro presentation for dogfooding
  pnpm-lock.yaml
  talks/self-intro/.gitignore
  talks/self-intro/.npmrc
  talks/self-intro/.prettierignore
  talks/self-intro/.slidev/tlanislide/snapshots/career-timeline.json
  talks/self-intro/package.json
  talks/self-intro/slides.md
  talks/self-intro/snippets/external.ts
Due: prettier --write, eslint --fix

Fix
  talks/self-intro/.slidev/tlanislide/snapshots/career-timeline.json
  talks/self-intro/slides.md
Due: prettier --write

Exclude talks/*.md from lint-staged
  talks/.lintstagedrc.json
Due: none

Fix
  talks/self-intro/slides.md
Due: prettier --write

Delete talks/self-intro/snippets
  talks/self-intro/snippets/external.ts
Due: prettier --write, eslint --fix

Add Tlanislide.rerunStep() method
  packages/tlanislide/src/App.tsx
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/index.ts
Due: prettier --write, eslint --fix

Rerun after entering and rescaling a slide
  packages/slidev-addon-tlanislide/.slidev/tlanislide/snapshots/deck1.json
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/slidev-addon-tlanislide/slides.md
Due: prettier --write, eslint --fix

Rerender after scaling slide (#11)
  packages/slidev-addon-tlanislide/.slidev/tlanislide/snapshots/deck1.json
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/slidev-addon-tlanislide/slides.md
  packages/tlanislide/src/App.tsx
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/index.ts
Due: prettier --write, eslint --fix

Update talks/self-intro
  pnpm-lock.yaml
  talks/self-intro/package.json
  talks/self-intro/slides.md
Due: prettier --write

Update talks/self-intro
  talks/self-intro/slides.md
Due: prettier --write

Update talks/self-intro
  talks/self-intro/.slidev/tlanislide/snapshots/career-timeline.json
  talks/self-intro/slides.md
Due: prettier --write

Add start prop
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/models.ts
  talks/self-intro/slides.md
Due: prettier --write, eslint --fix

Fix
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/models.ts
Due: prettier --write, eslint --fix

Add start prop (#13)
  packages/slidev-addon-tlanislide/components/SlidevTlanislide.vue
  packages/tlanislide/src/Tlanislide.tsx
  talks/self-intro/slides.md
Due: prettier --write, eslint --fix

feat: exit presentation mode on ESC
  packages/tlanislide/src/Tlanislide.tsx
Due: prettier --write, eslint --fix

Rename KeyframeData to FrameAction
  packages/tlanislide/src/App.tsx
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/KeyframeTimeline/KeyframeTimeline.tsx
  packages/tlanislide/src/KeyframeTimeline/keyframe-ui-data.ts
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/models.ts
Due: prettier --write, eslint --fix

Rename Keyframe<T> to OrderedTrackItem<T> and define Keyframe as OrderedTrackItem<FrameAction>
  packages/tlanislide/src/App.tsx
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/KeyframeTimeline/KeyframeTimeline.tsx
  packages/tlanislide/src/KeyframeTimeline/keyframe-ui-data.ts
  packages/tlanislide/src/Tlanislide.tsx
  packages/tlanislide/src/keyframe.test.ts
  packages/tlanislide/src/keyframe.ts
  packages/tlanislide/src/models.test.ts
  packages/tlanislide/src/models.ts
Due: prettier --write, eslint --fix

Rename files
  packages/tlanislide/src/ControlPanel/ControlPanel.tsx
  packages/tlanislide/src/KeyframeTimeline/KeyframeTimeline.tsx
  packages/tlanislide/src/KeyframeTimeline/keyframe-ui-data.ts
  packages/tlanislide/src/models.ts
  packages/tlanislide/src/ordered-track-item.test.ts
  packages/tlanislide/src/ordered-track-item.ts
Due: prettier --write, eslint --fix
